/*Configurações padrão*/
body{
    max-width: 1240px;
    font-family: "Space Grotesk"!important;
    font-weight: 500;  
}

main {
    display: flex;
    
}

/*Variables*/
:root {
    --font-color:hsl(0, 0%, 100%);
    --placeholder-color:hsl(270, 3%, 87%);
    --cinza:hsl(279, 6%, 55%);
    --violeta:hsl(278, 68%, 11%);
    --borda:hsl(249, 99%, 64%) to hsl(278, 94%, 30%)  ;
    --erro:hsl(0, 100%, 66%) ;
}

/*Modificações Bootstrap*/
div.data {
    display: flex;
}

label {
    font-size: 18px !important;
}

#btn {
    width: 400px;
    height: 50px;
    background-color: var(--violeta);
    margin-top: 20px;
    border: none;
    font-size: 18px;
}

/*Fundo*/
img.img-fundo {
    position: absolute;
    z-index: -1;
    height: 100%;
}

img.img-fundo-respo{
    display: none;
}

main {
    padding: 80px 0 0 10%;
}

/*Formulário*/
#formulario {
    width: 800px;
    margin: 15% 0 0 0;
    position: relative;
    left: 200px;
}

#formulario input::placeholder{
    color: var(--placeholder-color);
    font-weight: 600;
}

div.input {
    margin: 0 0 0 ;
}

#formulario div input.input-1, #formulario div input.input-2, #formulario div input.input-3{
    height: 50px;
    font-size: 20px;
}

#formulario div input.input-1 {
    width: 400px;
}

#formulario div input.input-2 {
    width: 80px;
}
#formulario div input.input-3 {
    width: 200px;
}

/*Imagem dos cartões*/
#cartao {
    margin: 10% 0 0 15%;
}

#cartao #cartao-frente img, #cartao #cartao-tras img {
    width: 400px;
}

#cartao-frente img, #cartao-tras img {
    box-shadow: 35px 0px 50px -25px var(--cinza);
}

/*Frente*/
#cartao-frente {
    color: var(--font-color);
}

#proprietario-data, #numero-cartao{
    position: relative;
    bottom: 110px;
    left: 30px;
}

#numero-cartao {
    font-size: 30px;
    font-weight: 400;
}

#proprietario-data {
    width: 340px;
    font-size: 14px;
    color: var(--placeholder-color);
    display: flex;
}

#proprietario-data #nome-proprietario{
    letter-spacing: 1.5px;
    width: 290px;
}

/*Verso*/
#cartao-tras {
    margin: -70px 0 0 25%;
    padding: 0px 0 0 0;
    color: var(--font-color);
}

#cartao-tras div {
    display: flex;
    justify-content: end;
}

#cartao-tras div #codigo-cartao {
    position: relative;
    bottom: 123px;
    left: 10%;
}

/*Mensagem de erro*/
.hide {
    display: none;
}

.input-border {
    border-color: red;
}

h6 {
    color: red;
    padding: 10px 0 0 0;
}

/*--------------------------------------------*/

/*Página de sucesso*/
section#msg-sucesso {
    position: relative;
    left: 200px;
    top: 175px;
    width: 400px;
    text-align: center;
}

a {
    color: #fff;
    font-size: 18px;
}

.btn-2 {
    width: 400px !important;
}

h3 {
    letter-spacing: 3px;
}

h5 {
    color: var(--cinza);
}